.rightbar{
    flex:3; margin: 5px;
}

.rightbarwrapper{
    padding: 10px;
}
.imagegift{
height: 32px;
width: 32px;

}
.textstlye{
    font-weight: bold;
    font-size: 14px;
    margin: 0;padding: 0;
}
.box{
    margin-bottom: 10px;
}

.rightbarfollowings{
margin-top: 10px;
padding: 0;
}
.rightbartitle{
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    
}
.rightbarinfoitem{
    padding: 5px;
    margin: 1px;
}
.rightbarinfokey{
    margin-right: 10px;
    font-weight: bold;
    color: #555;
}