.rightbar{
    flex:3; margin: 5px;
}

.rightbarwrapper{
    padding: 10px;
}
.imagegift{
height: 32px;
width: 32px;

}
.textstlye{
    font-weight: bold;
    font-size: 14px;
    margin: 0;padding: 0;
}
.box{
    margin-bottom: 10px;
}